# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="file:./dev.db"
OPENAI_API_KEY=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